@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  height: 1000px;
  background: #333;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 36px;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #fff;
}

ul {
  padding: 0 15px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
button {
  width: 43px;
  height: 34px;
  border: none;
  color: #fff;
  text-align: center;
}
li {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  border-radius: 6px;
  border-color: #fff;
  background-color: #333;
  box-shadow: 4px 4px 4px rgb(175, 173, 173);
}
#add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#add-task,
.complete-btn {
  border: none;
  border-radius: 2px;
  background-color: #fd9460;
}
#add-task:hover {
  border: 1px solid #fd9460;
  border-radius: 2px;
  background-color: #333;
}
input {
  margin-left: 5px;
  color: #333;
  border: none;
  font-size: 18px;
  line-height: 32px;
}

.input-onblur {
  border: none;
  color: #fff;
  background-color: #333;
}
.complete {
  opacity: 0.5;
}

.bi-plus-lg {
  padding-top: 2px;
  fill: #fff;
}

.trash-btn {
  border-radius: 2px;
  background-color: rgb(230, 125, 125);
}
#icon-trash-btn {
  width: auto;
  height: 100%;
}
